/* Estilo próprio do site GAC */

.header_element {
	position: relative;
	float: left;
	height: 169px;
	width: 50%;
}

#menu {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#logo-sem-atrito {
	background-color: rgb(251,175,63);
}

.clear{
	clear: both;
}

#banner{
	background-color: rgb(251,175,63);
}

.carousel-span{
	display: inline-block;
	margin-top: 20px;
}

.banner-title{
	color: rgb(251,175,63);
}

.portfolio-body{
	padding-left: 50px;
	padding-right: 50px;
}

/**************** Clientes **********************/

#search-form {
	margin: 5px 0 0 0;
}

#sort-select {
	margin: 5px 15px 0 0;
}