<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>GAC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="NER2J">

    <!--Estilos Bootstrap-->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">

    <!--Estilo Próprio-->
    <link href="{{STATIC_URL}}css/gac-style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
	<!--Cabeçalho (HEADER)-->
	<div id="header" class="clear">
		<!--Menu Principal-->
		<div id="main-menu" class="header_element">
			<div id="menu">
				<ul id="nav-menu" class="nav nav-pills">
					<li>
						<a ref="#">Home</a>
					</li>
					<li>
						<a ref="#">Moda Feminina</a>
					</li>
					<li>
						<a ref="#">Moda Masculina</a>
					</li>
					<li>
						<a ref="#">Uniformes</a>
					</li>
					<li>
						<a ref="#">Fantasias</a>
					</li>
				</ul>
			</div>
		</div> <!--Cabeçalho-->
		<!--Logo Sem Atrito-->
		<div id="logo-sem-atrito" class="header_element">
			<img id="img-logo"src="{{STATIC_URL}}img/header.png">
		</div>
	</div>

	<!--Banner-->
	<div id="banner" class="clear" align="center">
		<div id="myCarousel" class="carousel slide carousel-span">
			<div class="carousel-inner">
			    <div class="item active">
			        <img src="{{STATIC_URL}}img/banner/moda_1.jpg" alt="">
			        <div>
			            <div class="carousel-caption">
			              	<h1 class="banner-title">Moda Feminina</h1>
			            </div>
          			</div>
			    </div>
			    <div class="item">
			        <img src="{{STATIC_URL}}img/banner/moda_2.jpg" alt="">
			        <div>
			            <div class="carousel-caption">
			              	<h1 class="banner-title">Moda Íntima</h1>
			            </div>
          			</div>
			    </div>
			    <div class="item">
			        <img src="{{STATIC_URL}}img/banner/moda_3.jpg" alt="">
			        <div>
			            <div class="carousel-caption">
			              	<h1 class="banner-title">Moda Masculina</h1>
			            </div>
          			</div>
			    </div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
    	</div>
    	<div class="clear"></div>
    </div> <!--Banner-->

    <!--Thumbnails-->
    <div class="portfolio-body" align="center">
	    <div id="portfolio">
	    	<ul class="thumbnails">
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae a"
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae a"
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae "
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae a"
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae a"
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae "
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li class="span3">
	    			<div class="thumbnail">
	    				<img src="{{STATIC_URL}}img/teste_2.png">
	    				<div class="caption">
	    					<h3>Blablablablabla</h3>
	    					<p>
	    						"aeae aeae aeae aeae aeeae a"
	    					</p>
	    					<p> <a href="#" class="btn">UHUU!</a>
	    				</div>
	    			</div>
	    		</li>
	    	</ul>
	    </div><!--Thumbnails-->
	</div>

    <!--Scripts Bootstrap-->
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
</html>